body {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body a:link, body a:visited {
  text-decoration: none;
  color: black;
}

body p {
  font-family: Roboto, sans-serif;
}

body h2 h3 {
  font-family: Roboto, sans-serif;
}

.loadingbg {
  /*BackgroundLoader*/
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: bg ease-in-out 3s;
          animation: bg ease-in-out 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.loader {
  /*Loader */
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid #f3f3f3;
  border-left-color: red;
  border-right-color: blue;
  border-radius: 200px;
  -webkit-animation: spin 3s  ease-in-out;
          animation: spin 3s  ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

/*Animation*/
@-webkit-keyframes bg {
  0% {
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-appearance: none;
            appearance: none;
  }
}
@keyframes bg {
  0% {
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  75% {
    -webkit-transform: rotate(1040deg);
            transform: rotate(1040deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  75% {
    -webkit-transform: rotate(1040deg);
            transform: rotate(1040deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

.header-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-index__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: solid 2px #ffffff;
  width: 100%;
  height: 100px;
  background-color: #fcf9f9;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.header-index__logo img {
  height: 35px;
}

.header-index__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #ebe6e6;
}

.header-index__location p {
  padding-left: 10px;
}

.header-index__mainbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: #fcf9f9;
}

.header-index__mainbox h2 {
  margin-top: 10px;
}

.header-index__mainbox p {
  font-size: 14px;
  margin-top: -5px;
}

.mainbox__button {
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 20px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.212);
          box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.212);
}

.mainbox__button a:link, .mainbox__button a:visited {
  color: white;
  font-size: 18px;
}

.fonctionement {
  width: auto;
  height: auto;
}

.fonctionement h2 {
  text-align: left;
  margin-left: 10px;
  margin-bottom: -10px;
}

.fonctionement__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0efef;
  padding: 10px;
  border-left: none;
  border-radius: 100px;
  margin-left: 10px;
  margin-top: 20px;
  width: 85%;
  height: 30px;
  border: #ebe8e8 solid 1px;
  -webkit-box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
          box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
}

.fonctionement__number {
  background-color: #9356DC;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: -18px;
  width: 25px;
  height: 25px;
  border-radius: 200px;
}

.fonctionement p {
  margin-left: 20px;
}

.fonctionement__icon {
  margin-left: 6px;
  color: gray;
}

.fonctionement__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section img {
  display: none;
}
