body {
  margin: 0px;
  padding: 0px;
}

body a:link, body a:visited {
  text-decoration: none;
  color: black;
}

body p span {
  font-family: Roboto, sans-serif;
}

body h2 h3 {
  font-family: Roboto, sans-serif;
}

body ul {
  list-style: none;
}

.loadingbg {
  /*BackgroundLoader*/
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: bg ease-in-out 3s;
          animation: bg ease-in-out 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: auto;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.loader {
  /*Loader */
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid #f3f3f3;
  border-left-color: #9356DC;
  border-right-color: #FF79DA;
  border-radius: 200px;
  -webkit-animation: spin 3s  ease-in-out;
          animation: spin 3s  ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

/*Animation*/
@-webkit-keyframes bg {
  0% {
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-appearance: none;
            appearance: none;
  }
}
@keyframes bg {
  0% {
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  75% {
    -webkit-transform: rotate(1040deg);
            transform: rotate(1040deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  75% {
    -webkit-transform: rotate(1040deg);
            transform: rotate(1040deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

.header-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-index__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: solid 2px #ffffff;
  width: 100%;
  height: 100px;
  background-color: #fcf9f9;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.header-index__logo img {
  height: 35px;
}

.header-index__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #ebe6e6;
}

.header-index__location p {
  padding-left: 10px;
}

.header-index__mainbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: #fcf9f9;
}

.header-index__mainbox h2 {
  margin-top: 10px;
}

.header-index__mainbox p {
  font-size: 14px;
  margin-top: -5px;
}

.mainbox__button {
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 20px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.212);
          box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.212);
}

.mainbox__button a:link, .mainbox__button a:visited {
  color: white;
  font-size: 18px;
}

.fonctionement {
  width: auto;
  height: auto;
}

.fonctionement h2 {
  text-align: left;
  padding-left: 10px;
  margin-bottom: -10px;
}

.fonctionement__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0efef;
  padding: 10px;
  border-left: none;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
  width: 85%;
  height: 30px;
  border: #ebe8e8 solid 1px;
  -webkit-box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
          box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
}

.fonctionement__number {
  background-color: #9356DC;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: -18px;
  width: 25px;
  height: 25px;
  border-radius: 200px;
}

.fonctionement p {
  margin-left: 20px;
}

.fonctionement__icon {
  margin-left: 6px;
  color: gray;
}

.fonctionement__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.restaurants {
  background-color: #ebe6e66b;
}

.restaurants__title {
  padding-top: 20px;
  margin-left: 20px;
}

.restaurants-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.restaurants-container__box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
          box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
  border-radius: 20px;
  margin-bottom: 40px;
  margin-right: 0;
  height: 300px;
}

.restaurants-container__box:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-box-shadow: 0px 0px 10px #9356DC;
          box-shadow: 0px 0px 10px #9356DC;
}

.restaurants-container__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants-container__start span {
  position: absolute;
  margin: 1em;
  font-size: 19px;
  padding: 4px;
  background-color: #99E2D0;
}

.restaurants-container__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants-container__desc h3 {
  font-size: 22px;
  margin-top: 8px;
  padding: 0px;
  padding-left: 15px;
}

.restaurants-container__desc p {
  font-size: 20px;
  margin-top: -8px;
  padding-left: 15px;
}

.restaurants-container__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px;
  height: 200px;
}

@media screen and (min-width: 800px) {
  .fonctionement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionement__box {
    margin-left: 40px;
  }
  .fonctionement h2 {
    margin-top: 0px;
  }
  .restaurants-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 28px;
            column-gap: 28px;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer li {
    padding-right: 40px;
  }
}

.hearts-index {
  margin-top: 1em;
  margin-right: 5em;
}

.hearts-menu {
  margin-right: 5em;
  margin-top: 1em;
}

.heart-full {
  position: absolute;
  font-size: 40px;
  font-weight: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  opacity: 0;
}

.heart-full:hover {
  -webkit-animation: heart-appear 200ms ease-in-out;
          animation: heart-appear 200ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.heart-empty {
  position: absolute;
  font-size: 40px;
}

.heart-empty:hover {
  -webkit-animation: heart-disappear 2s;
          animation: heart-disappear 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes heart-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes heart-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes heart-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes heart-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.footer {
  background-color: rgba(51, 50, 50, 0.925);
  height: 100%;
  padding-bottom: 10px;
}

.footer__logo {
  width: 120px;
  color: white;
  padding-top: 5px;
  padding-left: 30px;
  font-family: Shrikhand,"cursive";
  font-size: 25px;
}

.footer li {
  padding-bottom: 10px;
  margin-left: -10px;
  font-size: 18px;
  color: white;
}

.footer li:hover {
  text-decoration: underline;
}

.footer__icon {
  padding-right: 5px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: solid 2px #ffffff;
  width: 95%;
  height: 100px;
  background-color: #fcf9f9;
  position: relative;
}

.header-menu__logo img {
  height: 35px;
}

.header-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 5%;
  height: 100px;
  background-color: #fcf9f9;
  border-bottom: solid 2px #ffffff;
  font-size: 18px;
  padding-left: 14px;
}

.menu-general__backimage {
  width: 100%;
}

.menu-general__backimage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100%;
}

.menu-general__container {
  position: relative;
  margin-top: -80px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: #faf4f4;
}

.menu-general__title {
  font-family: Shrikhand, "cursive";
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

.menu {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: -30px;
  padding-bottom: 20px;
}

.menu h3 {
  border-bottom: #99E2D0 solid 5px;
  width: 50px;
  font-size: 24px;
  font-weight: 100;
}

.menu-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 85px;
  background: white;
  border-radius: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
          box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
}

.menu-bloc__left {
  padding-right: 10px;
  margin-top: -5px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}

.menu-bloc__desc {
  margin-top: -15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-bloc h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-bloc__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-bloc__icon {
  background-color: #99E2D0;
  color: white;
  height: 85px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  font-size: 25px;
  visibility: hidden;
}

.menu-bloc__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: -40px;
  font-size: 18px;
  font-weight: bolder;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #faf4f4;
}

.btn-container__actual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 20px;
  font-size: 20px;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.212);
          box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.212);
  background-color: #faf4f4;
  color: white;
  margin-bottom: 25px;
}

.menu-bloc:hover .menu-bloc__price {
  -webkit-animation: moveleft 0.5s ease-in;
          animation: moveleft 0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-bloc:hover .menu-bloc__icon {
  -webkit-animation: appear 0.5s ease-in;
          animation: appear 0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 85%;
          transform-origin: 85%;
}

.menu-bloc:hover .fa-check-circle {
  -webkit-animation: rotate 0.5s ease-in;
          animation: rotate 0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveleft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding-left: 20px;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    padding-left: 50px;
  }
}

@keyframes moveleft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding-left: 20px;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    padding-left: 50px;
  }
}

@-webkit-keyframes appear {
  0% {
    visibility: visible;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    visibility: visible;
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

@keyframes appear {
  0% {
    visibility: visible;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    visibility: visible;
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

.menu-bloc {
  -webkit-animation: menu-appear 0.5s;
          animation: menu-appear 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.4, 1.41, 0.41, 0.9) .menu-bloc 1;
          animation-timing-function: cubic-bezier(0.4, 1.41, 0.41, 0.9) .menu-bloc 1;
  animation-timing-function-animation-delay: 0.1s;
}

.menu-bloc2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu-bloc3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu-bloc4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu-bloc5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menu-bloc6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu-bloc7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.menu-bloc8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu-bloc9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes menu-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes menu-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  .menu-general__container {
    width: 98%;
    margin-top: -25px;
    margin-left: 14px;
  }
  .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    width: 25%;
  }
}
