
/*Boutons dégradés*/

.btn-container {
  @include Flex-C;
  padding-top: 20px;
  padding-bottom: 40px;

  &__actual {
    @include Flex-C;
    font-size: 18px;
    border-radius: 200px;
    background-image: linear-gradient(to top, $primary, $secondary);
    padding: 15px;
    box-shadow: $boxshadow-light;
    background-color: #faf4f4;

    & a:link, a:visited {
      color: white;
    }

    &:hover {
      transform: scale(0.96);
      transition: 0.5s;
      opacity: 0.9;
      box-shadow: $boxshadow-dark;
    }
  }
}
