@import "../Utils/mixin";
@import "../Utils/Variables";

.header-menu {
  @include Flex-C;
  flex-direction: row;

  &__logo {
    @include Flex-C;
    border-bottom: solid 2px #ffffff;
    width: 95%;
    height: 100px;
    background-color: #fcf9f9;
    position: relative;

    & img {
      height: 35px;
    }
  }

  &__icon {
    @include Flex-C;
    width: 5%;
    height: 100px;
    background-color: #fcf9f9;
    border-bottom: solid 2px #ffffff;
    font-size: 18px;
    padding-left: 14px;
  }
}

.menu-general {
  &__backimage {
    width: 100%;

    & img {
      object-fit: cover;
      height: 250px;
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -80px;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: #f3eded;
  }

  .menu {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: -30px;
    padding-bottom: 20px;

    & h3 {
      border-bottom: $tertiary solid 5px;
      width: 50px;
      font-size: 24px;
      font-weight: 100;
    }

    &__bloc {
      background-color: white;
      font-size: 18px;
      border-radius: 20px;
      box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
      padding: 5px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      display: grid;
      grid-template-columns: 75% 25% 0%;
      grid-template-rows: 30px 30px;
      margin-bottom: 20px;
      height: 60px;
      grid-template-areas:
        "Nom  Prix Icon"
        "Desc Prix Icon";

      & h4 {
        grid-area: Nom;
      }
    }
  }

  .menu__icon 
  {
    grid-area: Icon;
    visibility: visible;
    @include Flex-C;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    background-color: red;
  }

  .menu__desc {
    grid-area: Desc;
  }

  .menu__price {
    grid-area: Prix;
    padding-left: 45px;
  }

  &__title {
    font-family: Shrikhand, "cursive";
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;

    & h3 {
      font-family: Shrikhand, "cursive";
      text-align: center;
    }
  }
}
