@import '../Utils/Variables';

.restaurants-container__heart
{
    margin-top: 1em;
    margin-right: 5em;
}

.restaurants-container__full
{
    position: absolute;
    font-size: 40px;
    font-weight: 0px;
    background-clip: text;
    
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, $primary, $secondary);
    opacity: 0;

    &:hover
    {        
       animation: appear 200ms ease-in-out;    
       animation-fill-mode: forwards;
    }
}

.restaurants-container__empty
{
    position: absolute;
    font-size: 40px;

    &:hover 
    {

        animation: disappear 2s;
        animation-fill-mode: forwards;
    
    }
}

@keyframes disappear
{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes appear
{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}